.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color: #fff;
}
header {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}

h1, h2, h3, span, p {
  color: #5d5d5d;
  font-weight: 400;
}
h1 {
  font-size: 2em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

input {
  padding: 10px 15px;
  border-radius: 20px;
  outline-style: none;
  border: 1px solid #ccc;
}

.main h1 {
  margin-top: 0;
}

.clock {
  font-size: 30px;
  font-weight: 300;
}

.container {
  padding: 30px;
  margin-top: 30px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9, 
               -20px -20px 60px #ffffff;  
}

#stats {
  padding: 20px 0;
  display: inline-flex;
}

#todo-count, #clear-completed {
  flex:1;
}

#filters {
  flex:2;
  list-style: none;
  padding: 0;
  margin: 0;
}

#filters li {
  display: inline;
  cursor: pointer;
  margin: 0 10px 0 0;
}

#item {
  border-bottom: 1px dotted #ccc;
  padding: 10px 0;
}

#todo-list {
  padding: 0;
}

.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}

#info {
  text-align: center;
  opacity: 60%;
}